
<section class="order-list">
    <h2>Danh sách đơn hàng</h2>
    <table class="table">
      <thead>
        <tr>
          <th>ID Đơn hàng</th>
          <th>Tên Khách Hàng</th>
          <th>Tổng tiền</th>
          <th>Trạng thái</th>
          <th>Chi tiết</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders[0]; let i = index;">
          <td>{{ order.id }}</td>
          <td>{{ order.customer.fullName }}</td>
          <td> {{ getTotalPrice(i) | currency: 'VND' }} </td>
          <td>chưa hoàn thành</td>
          <td>
            <button (click)="openPopup(order,i)" >Xem chi tiết</button>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

<div class="popup"  *ngIf="showPopup">
  <div class="popup-content" >
    <span class="close-btn" (click)="closePopup()">&larr;</span>
    <h2>Chi tiết đơn hàng #{{ selectedOrder.id }}</h2>
    <div>
      <p>Ngày đặt hàng: {{ selectedOrder.orderDate | date: 'dd/MM/yyyy' }}</p>
      <p>Tổng tiền: {{ getTotalPrice(totalPriceId) | currency: 'VND' }}</p>
      <p>Trạng thái: chưa hoàn thành</p>
  
      <!-- Hiển thị thông tin khách hàng -->
      <h3>Thông tin khách hàng</h3>
      <p>Tên khách hàng: {{ selectedOrder.customer.fullName }}</p>
      <p>Địa chỉ: {{ selectedOrder.customer.address }}</p>
      <p>Số điện thoại: {{ selectedOrder.customer.phone }}</p>
      <p>Ghi chú: {{ selectedOrder.customer.note }}</p>
  
      <!-- Hiển thị sản phẩm trong đơn hàng -->
      <h3>Sản phẩm trong đơn hàng</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Tên sản phẩm</th>
            <th>Giá</th>
            <th>Số lượng</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of selectedOrder.cartItems">
            <td>{{ item.productName }}</td>
            <td>{{ item.productPrice | currency: 'VND' }}</td>
            <td>{{ item.quantity }}</td>
          </tr>
        </tbody>
      </table>
    
  </div>
</div>
